apiVersion: holodeck.nvidia.com/v1alpha1
kind: Environment
metadata:
  name: holodeck
  description: "Devel infra environment"
spec:
  provider: aws
  auth:
    keyName: cnt-ci
    privateKey: "/Users/eduardoa/.ssh/cnt-ci.pem"
  instance:
    type: g4dn.xlarge
    region: us-west-1
    ingressIpRanges:
      - 0.0.0.0/0
    image:
      architecture: amd64
      imageId: ami-0ce2cb35386fc22e9
  kubernetes:
    install: true
    installer: kubeadm
    version: v1.30.2
    crictlVersion: v1.30.0
